.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* table Page Starts */
.search-bar {
  margin: 10px;
}

.header {
  background-color: rgb(199, 171, 171);
}

.action-button {
  margin-left: 3px;
  margin-right: 3px;
}
.delete-selected-button {
  margin: 10px;
  width: 130px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(199, 171, 171);
  cursor: pointer;
}

/* table Page Ends */

/* Modal Style Starts */

.modal-button {
  display: flex;
  align-items: center;
}

.modal-button button {
  background-color: #282c34;
  margin: 2px;
  margin-top: 4px;
}

/* Modal Style Ends */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
